.banner {
  height: 480px;
  position: relative;
  h3{
    color: $green;
    span{
      color: $white;
    }
  }
  .slide-h{
    position: absolute;
    img{
      height: 480px;
      width: 100%;
    }
  }
  .backgroud {
    height: 100%;
    background: linear-gradient(to right, $blue, $blue, Transparent);
    position: relative;

  }
  .carousel-item{
    transition: transform 2s ease;
  }
  .txt-banner {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -43%);
    border-left: #b2ce54 solid 10px;
    .text-banner {
      margin: 10%;
    }
    @media (min-width: 300px) and (max-width: 992px){
      max-width: 100%;
      top: 50%;
      left: 10%;
      transform: translate(0%, -40%);
      h3{
        font-size: 30px;
      }
    }
  }
}
