#footer{
  background-color: $blue;
  padding-top: 10%;
  h5{
    color: $white;
    margin-bottom: 25px;
  }
  a{
    display: inline-block;
    color: $gray-200;
    &:hover{
      color: #333;
    }
  }
  .bottom-footer{
    font-size: 13px;
    color: $gray-200;
  }
  .col-lg-6{
    margin-top: -20px;
  }
  .col-lg-5{
    text-align: right;
  }
  @media (max-width: 576px) {
    text-align: center;
    .col-lg-5{
      text-align: center;
      font-size: 17px;
      line-height: 30px;
    }
    .col-lg-6{
      font-size: 17px;
      margin: 20px;
      text-align: center;
    }
  }
  @media (min-width: 576px) and (max-width: 992px){
    .col-lg-6{
      font-size: 17px;
      margin: 20px;
      text-align: center;
    }
    .col-lg-5{
      text-align: center;
      font-size: 17px;
      line-height: 30px;
    }
    .m{
      margin-top: -10%;
      margin-left: 50%;
    }
  }
}
.company-social {
  margin-left: -40px;
  li{
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  a{
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    color: #fff;
  }
}

