#contactForm {
  background-color: #b2ce54;
  padding: 20px;
  margin-top: -30%;
  input {
    color: #fff;
    border-radius: 0%;
  }
  label {
    font-size: 15px;
    font-weight: 300;
    line-height: 0.67;
    text-align: left;
    color: #fefdfd;
  }
  .bt2 {
    margin-top: 20px;
    border-radius: 0%;
    background-color: $red;
    border: solid 1.5px $red;
  }
  @media (min-width: 300px) and (max-width: 767.98px){
    margin: 0;
    form{
      padding: 30px;
    }
  }
}
.icon {
  float: left;
  height: 100%;
  position: relative;
  color: #b2ce54;
  margin: 2px;
  padding-right: 5px;
}
.txt-ft{
  margin-top: -30%;
  @media (min-width: 360px) and (max-width: 767.98px)
  {
    margin: 0;
    padding-top: 30px;
    margin-left: 30px;
  }
}
#from-t{
  @media (min-width: 360px) and (max-width: 767.98px){
    .container{
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
      max-width: 100%;
    }
  }
}
