#h-center{
  background: $blue;
  color: $gray-200;
  h4{
    color: $gray-200;
  }
  .txt-hc{
    padding: 3% 0 0 3%;
  }
  .col-lg-7{
    text-align: center;
    padding: 0;
    margin: 0;
    .row{
      margin-right: -15px;
    }
  }
  .icon-h{
    padding: 80px;
    &:hover{
      background: $sky;
      i,p{
        color: $white;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 991px)
  {
    .col-lg-7{
      .row{
        margin-right: 0;
      }
    }
    .txt-hc{
      text-align: center;
      padding: 0;
      padding-top: 30px;
    }
  }
  @media (max-width: 320px){
    div{
      border: none;
    }
  }
}
