#h-on {
  .col-lg-10 {
    position: relative;
    background: $green;
    a{
      color: $red;
    }

    .h-txt {
      padding: 50px 10px 0 50px;
      text-align: left;
    }
    h5 {
      color: $white;
      padding-bottom: 10px;
      width: 125px;
      border-bottom: 2px solid $white;
    }
    .the {
      position: relative;
      display: inline-flex;
      width: 250px;
      height: 200px;
      background: $white;
      margin: 20px 35px 0 10px;
      padding: 30px 20px 15px 20px;
    }
    .the-title{
      color: $black;
      width: 100%;
    }
  }
}
