#h-on {
  .col-md-10 {
    position: relative;
    background: $green;
    .h-txt {
      padding: 50px 10px 0 100px;
      text-align: left;
    }
    h5 {
      color: $white;
      padding-bottom: 10px;
      width: 125px;
      border-bottom: 2px solid $white;
    }
    .the-group{
      position: absolute;
    }
    .the {
      display: inline-flex;
      width: 250px;
      height: 200px;
      background: $white;
      margin: 30px 35px 0 10px;
    }
    .the-body{
      margin: 30px 20px 15px 20px;
      padding-left: 20px;
    }
    .the-title{
      color: $black;
      width: 100%;
    }
  }
}
