#IctCenter {
  .tab {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 100px 0 30px 0;
  }
  .txtI {
    text-align: left;
    @media (min-width: 320px) and (max-width: 767.98px){
      text-align: center;
    }
  }
  .fas {
    color: #b2ce54;
  }
  @media (min-width: 300px) and (max-width: 767.98px){
    .col-12{
      border: none;
      border-bottom: 1px solid $gray-200;
    }
  }
}
.imgL {
  position: absolute;
  z-index: 1;
  width: 100%;
  @media (min-width: 300px) and (max-width: 767.98px){
    position: relative;
    margin-bottom: -95px;
  }
}


