.q{
  z-index: 1;
  position: absolute;
  margin-top: -20%;
  width: 100%;
  @media (min-width: 320px) and (max-width: 768.98px){
    position: relative;
    margin: 0;
  }
}

.Lct{
  position: relative;
  text-align: center;
  box-shadow: 2.1px 2.1px 42px 0 rgba(4, 194, 194, .16);
  z-index: 200;
  background: #fff;
  margin-bottom: 40px;
  .col-lg-4{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .images{
    width: 187.5px;
    height: 248.5px;
  }
  h4:hover{
    color: $red;
  }
  a{
    color: $red;
  }
  // @media (min-width: 320px) and (max-width: 768.98px){
  //   div{
  //     border: none;
  //   }
  // }
}

