.note{
  height: 256px;
  background-color: #b2ce54;
  .ba{
    padding: 32px 0 0 45px;
    a{
      display: block;
      text-decoration: none;
      font-size: 17.5px;
      padding-bottom: 10px;
      letter-spacing: .5px;
      text-align: left;
      color: $white;
      &:hover{
        border-bottom: $white solid 1.5px;
      }
    }
  }
  @media (min-width: 300px) and (max-width: 768.1px){
    height: 300px;
    .ba a{
      font-size: 25px;
    }
  }
}
