#scontent{
  text-align: center;
  padding: 100px 50px 100px;
}
.Sbutton{
  padding-bottom: 20px;
  a{
    color: #d35050;
    display: block;
    i{
      float: right;
      margin-right: 15px;
      padding-top: 5px;
    }
  }
  .fa-cloud-download-alt{
    padding-top: 30px;
    color: #b2ce54;
  }
}

